<html>
  <head>
    <meta charset="utf-8">
    <title>DogByte</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A simple application for file transfer over intranet">
    <meta name="author" content="Uber Geeks">

    <!-- Le styles -->
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/docs.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <script src="/js/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
          </button>
          <a class="brand-change brand" href="/">DogByte</a>
          <div class="pull-right nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="/logout">Logout</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="sidebar-custom">
        <img src="/img/uploads/<%= user.uid %>.jpg" class="sidebar-image circle">
        <div class="sidebar-col">
          <h3 class="sidebar-text"><%= user.username %></h3>
          <h5 class="sidebar-text"><%= user.email %></h5>
        </div>
      </div>

      <div class="span9 offset5">
        <br>
        <ul class="breadcrumb"><span class="divider">/</span></li>
        </ul>

        <table class="table table-bordered table-hover">
          <thead>
            <tr>
              <th>
                Files
              </th>
            </tr>
          </thead>
          <tbody id="identify">
            <% if (file.length==0){ %>
              <h2> No results found! </h2>
            <% } for(var i=0; i<files.length; i++) { %>
              <tr class="filetr" fid="<%= files[i].fid %>"><td>
                <% if(files[i].type.indexOf("image")!=-1) { %>
                  <i class="icon-glass"></i>
                <% } else if(files[i].type.indexOf("pdf")!=-1) { %>
                  <i class="icon-book"></i>
                <% } else if(files[i].type.indexOf("audio")!=-1) { %>
                  <i class="icon-music"></i>
                <% } else if(files[i].type.indexOf("video")!=-1) { %>
                  <i class="icon-film"></i>
                <% } else { %>
                  <i class="icon-file"></i>
                <% } %>
                <%= files[i].filename %></td>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="notification"></div>
    <script src="/js/main.js"></script>
  </body>
</html>